.container_form{
    position: relative;
    margin-left: 185px;
    margin-right: 185px;
    margin-bottom: 50px;
}


.form{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #f6f6f6;

}

.form_div{
    padding: 70px 70px 70px 137px;

}

.form_input{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: solid #D5C9BE;
    margin-top: 10px;
}

.form_h2{
    width: 50%;
    font-size: 50px;
    color: #38535D;
}

.form_img{
    width: 820px;
    height: 650px;
}

.form-check-label {
    color: #38535D;
}

.form-check{
    margin-top: 15px;
}

.btn_form{
    background-color:#0b0a0a;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border: none;
}


.form_zimg{
    position: absolute;
    bottom: -6px;
    right: 166px;
}


@media (max-width: 1220px) {

.form_zimg, .form_img{

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
}


@media (max-width: 768px) {


    .container_form{

        margin-left: 0;
        margin-right: 0;

    }

    .form_h2{
       width: 70%;
        font-size: 30px;

    }
}


@media (max-width: 320px) {
    .form_div{
        padding: 10px;

    }
}

.btn_form:hover::after {
  transform: scaleX(1);
}

.btn_form:focus:not(:hover) {
  background-color: #586367;
  outline: 2px solid #242221;
  outline-offset: 5px;
}

.btn_form:active {
  background-color: #586367;
  color: #677a81;
}

.btn_form:active::after {
  background-color: #586367;
  color: #30464f;
  transform: scaleX(1);
  background-color: #242221;
}

